{% load static %}

<nav id="top-nav">
  <a href="http://afgang.co.uk/">back to afgang.co.uk</a>
  <section>
    <h1>
      <img src="{% static 'fontawesome/solid/bars.svg' %}" alt="Menu">
    </h1>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'home'%}">🏡 Home</a></li>
        <li><a href="{% url 'account_change_password' %}">🔑 Change Password</a></li>
        {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">⚙️ Admin</a></li>
        {% endif %}
        {% if perms.af_gang_mail.view_exchange %}
          <li><a href="{% url 'manage-exchanges' %}">💌 Manage Exchanges</a></li>
        {% endif %}
        {% if perms.af_gang_mail.view_style_gallery %}
          <li><a href="{% url 'style-gallery' %}">🖼 Style Gallery</a></li>
        {% endif %}
        {% if perms.af_gang_mail.view_statto %}
          <li><a href="{% url 'statto' %}">📊 Statto</a></li>
        {% endif %}
        {% if perms.flatblocks.change_flatblock %}
          {% if edit_mode %}
            <li><a href="{{ request.path }}">🙅 Exit Edit</a></li>
          {% else %}
            <li><a href="?edit=true">✏️ Edit</a></li>
          {% endif %}
          <li><a href="{% url 'page-index' %}">🗂 Page Index</a></li>
        {% endif %}
        <li><a href="{% url 'account_logout' %}">🚪 Log Out</a></li>
      {% else %}
        <li><a href="{% url 'landing'%}">🏡 Home</a></li>
      {% endif %}
    </ul>
  </section>
</nav>
