{% extends 'email_base.html' %}

{% load humanize %}

{% block content %}

<p>Hi {{ draw.sender.get_full_name }},</p>
<p>Thanks for taking part in the {{ draw.exchange.name }} AF GANG Mail Exchange!</p>
<p><strong>You've drawn {{ recipient.get_full_name }}!</strong></p>
<p>You should try to send your mail before {{ exchange.sent|naturalday }}.
    Once you've sent your mail, let {{ recipient.get_full_name }} know by visiting
    <a href="{{ mark_as_sent_url }}">{{ mark_as_sent_url }}</a>.
</p>
<p>Their address is:</p>
<p>{{ recipient.get_full_address|linebreaksbr }}</p>
<p><strong>{{ sender.get_full_name }} has drawn you!</strong></p>
<p>Hopefully you'll receive mail by {{ exchange.received|naturalday }}.
    Once you've received your mail, let {{ sender.get_full_name }} know by visiting
    <a href="{{ mark_as_received_url }}">{{ mark_as_received_url }}</a>.</p>
<p>You can also get this information at <a href="{{ exchange_url }}">{{ exchange_url }}</a>.</p>
<p>xo</p>
<p>{{ site.name }}</p>

{% endblock %}
