{% extends 'email_base.html' %}

{% load humanize %}

{% block content %}

<p>Hi {{ draw.sender.get_full_name }},</p>
<p>Thanks for taking part in the {{ draw.exchange.name }} AF GANG mail exchange!</p>
<p>You've been assigned … (drum roll…)</p>
<p>{{ draw.recipient.get_full_name }}</p>
<p>{{ draw.recipient.get_full_address|linebreaksbr }}</p>
<p>Please send a gift to this person before {{ draw.exchange.sent|naturalday }}.</p>
<p>You can also get this information at <a href="{{ exchange_url }}">{{ exchange_url }}</a>.</p>
<p>xo</p>
<p>{{ site.name }}</p>

{% endblock %}
