{% extends 'base.html' %}

{% load flatblocks humanize %}

{% block body_classes %}home{% endblock %}

{% block content %}

{% if not user.has_verified_email_address %}
  <section class="white-box">
    {% flatblock "home-unverified-email-address" %}
  </section>
{% endif %}

{% if not user.get_full_name %}
  <section class="white-box">
    {% flatblock "home-no-name" %}
    <a class="button" href="{% url 'update-name-and-address' %}">Enter Your Name</a>
  </section>
{% endif %}

{% if user.has_short_address %}
  <section class="white-box">
    {% flatblock "home-short-address" %}
    <a class="button" href="{% url 'update-name-and-address' %}">Enter Your Address</a>
  </section>
{% endif %}

{% for exchange, recipient in active_draws %}
  <section class="white-box">
    <p>You've drawn {{ recipient }} in {{ exchange }}!</p>
    <a class="button" href="{% url 'draw' exchange.slug %}">See More Details</a>
  </section>
{% endfor %}

<div>
  <div class="yellow-box">
    {% flatblock "home-name-and-address-intro" %}
    <p>{{ user.get_full_name }}</p>
    <p>{{ user.get_full_address|linebreaksbr }}</p>
    <a class="button" href="{% url 'update-name-and-address' %}">Edit Name &amp; Address</a>
  </div>
  <form action="{% url 'select-exchanges' %}">
    {% flatblock "home-upcoming-exchanges-intro" %}
    {% if upcoming_exchanges %}
      <table>
        <tr>
          <th scope="col">Taking Part?</th>
          <th scope="col">Exchange</th>
          <th scope="col">Drawn</th>
        </tr>
        {% for in_exchange, exchange, confirmed in upcoming_exchanges %}
          <tr>
            <td>
              {% if in_exchange %}
                {% if not user.has_verified_email_address %}
                  ⁉️ Verify Email
                {% elif not user.get_full_name %}
                  ⁉️ Enter Name
                {% elif not confirmed %}
                  ✅<br><small>We'll double-check {{ exchange.confirmation|naturalday }}</small>
                {% else %}
                  ✅
                {% endif %}
              {% else %}
                ❌
              {% endif %}
            </td>
            <td>{{ exchange.name }}</td>
            <td title="{{ exchange.drawn }}">{{ exchange.drawn|naturalday }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No upcoming exchanges.</p>
    {% endif %}
    <button>Select Exchanges</button>
  </form>
  <form action="{% url 'select-exchanges' %}">
    {% flatblock "home-user-exchanges-intro" %}
    {% if user_exchanges %}
      <table>
        <tr>
          <th scope="col">Exchange</th>
          <th scope="col">Drawn</th>
        </tr>
        {% for exchange in user_exchanges %}
          <tr>
            <td>
              {% if exchange.drawn < now %}
                <a href="{% url 'draw' exchange.slug %}">{{ exchange.name }}</a>
              {% else %}
                {{ exchange.name }}
              {% endif %}
            </td>
            <td title="{{ exchange.drawn }}">{{ exchange.drawn|naturalday }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You haven't joined any exchanges.</p>
    {% endif %}
    <button>Join Upcoming Exchanges</button>
  </form>
</div>

{% endblock %}
