{% extends 'base.html' %}

{% load flatblocks humanize %}

{% block body_classes %}home{% endblock %}

{% block content %}

{% if not user.has_verified_email_address %}
  <section class="white-box">
    {% flatblock "home-unverified-email-address" %}
  </section>
{% endif %}

{% for exchange, recipient in active_draws %}
  <section class="white-box">
    <p>You've been assigned {{ recipient }} in {{ exchange }}!</p>
    <a class="button" href="{% url 'draw' exchange.slug %}">See More Details</a>
  </section>
{% endfor %}

<div>
  <form action="{% url 'update-name-and-address' %}">
    {% flatblock "home-name-and-address-intro" %}
    <div>{{ user.get_full_address|linebreaksbr }}</div>
    <button>Edit Name &amp; Address</button>
  </form>
  <form action="{% url 'select-exchanges' %}">
    {% flatblock "home-upcoming-exchanges-intro" %}
    {% if user.exchanges.upcoming.exists %}
      <table>
        <tr>
          <th scope="col">Exchange</th>
          <th scope="col">Drawn</th>
        </tr>
        {% for exchange in user.exchanges.upcoming.all %}
          <tr>
            <td>{{ exchange.name }}</td>
            <td title="{{ exchange.drawn }}">{{ exchange.drawn|naturalday }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No upcoming exchanges.</p>
    {% endif %}
    <button>Select Exchanges</button>
  </form>
  <form>
    {% flatblock "home-past-exchanges-intro" %}
    {% if user.exchanges.past.exists %}
      <table>
        <tr>
          <th scope="col">Exchange</th>
          <th scope="col">Drawn</th>
        </tr>
        {% for exchange in user.exchanges.past.all %}
          <tr>
            <td>{{ exchange.name }}</td>
            <td title="{{ exchange.drawn }}">{{ exchange.drawn|naturalday }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No past exchanges.</p>
    {% endif %}
  </form>
</div>

{% endblock %}
