{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body_classes %}landing{% endblock %}

{% block content %}
  <div id="intro" class="yellow-box">
    <p>The AF GANG mail exchange is open for business!
      Make someone’s day by sending a small gift.
      There's no minimum value—whatever you're comfortable with is fine.</p>
  </div>
  <section>
    <form method="post" action="{% url 'account_signup' %}"  data-cy="signup">
    <h1>Enter an email address and choose a password to get started</h1>
      {% csrf_token %}
      {{ register_form|crispy }}
      <input type="hidden" name="next" value="{% url 'sign-up-step-one' %}">
      <button>Get Started</button>
    </form>
    <form method="post" action="{% url 'account_login' %}" data-cy="login">
      <h1>Log in</h1>
      {% csrf_token %}
      {{ login_form|crispy }}
      <button name="action" value="login">Log In</button>
      <a class="button secondary" href="{% url 'account_reset_password' %}">Forget your Password?</a>
    </form>
  </section>
{% endblock %}
