{% load static tz_detect %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block style %} {% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    {% include "af_gang_mail/_top-nav.html" %}

    <header><h1>AF GANG Mail Exchange</h1></header>

    {% include "af_gang_mail/_messages.html" %}

    <main>
      {% block content %}
        <p>Under construction.</p>
      {% endblock %}
    </main>

    {% include "af_gang_mail/_footer.html" %}

  </body>
  <script src="{% static "bundle.js" %}"></script>
  {% if sentry_dsn %}
    <script nonce="{{ request.csp_nonce }}">
        let sentry_options = {"dsn": "{{ sentry_dsn }}"};
        {% if sentry_environment %}
          sentry_options["environment"] = "{{ sentry_environment }}";
        {% endif %}
        {% if sentry_release %}
          sentry_options["release"] = "{{ sentry_release }}";
        {% endif %}
        Sentry.init(sentry_options);
    </script>
  {% endif %}
  {% tz_detect nonce=request.csp_nonce %}
  {% block script %} {% endblock %}
</html>
