{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block content %}

<div class="yellow-box">
  <h1>{{ exchange.name }}</h1>

  <dl>
    {% for field, value in exchange_data.items %}
      <dt>{{ field }}</dt>
      <dd>{{ value }}</dd>
    {% endfor %}
    <dt>Users</dt>
    <dd>
      {% render_table user_table %}
    </dd>
    <dt>Draws</dt>
    <dd>
      {% render_table draw_table %}
    </dd>
  </dl>

  <nav>
    <a href="{% url 'manage-exchanges' %}">Back to List</a>
    {% if perms.af_gang_mail.change_exchange %}
      <a href="{% url 'update-exchange' slug=exchange.slug %}">Edit</a>
    {% endif %}
    {% if perms.af_gang_mail.delete_exchange %}
      <a href="{% url 'delete-exchange' slug=exchange.slug %}">Delete</a>
    {% endif %}
    {% if perms.af_gang_mail.add_draw %}
      <a href="{% url 'draw-exchange' slug=exchange.slug %}">Draw</a>
    {% endif %}
    {% if perms.af_gang_mail.delete_draw %}
      <a href="{% url 'delete-draws-for-exchange' slug=exchange.slug %}">Delete Draws for Exchange</a>
    {% endif %}
  </nav>
</div>

{% endblock %}
