@use "../colors" as *;
@use "../size" as *;

.statto {
  .stat-container {
    width: 100%;
    border: 1px solid $black;
    background-color: $yellow;
    margin: $baseSize 0;
  }

  .stat {
    background-color: $darkYellow;
    height: $baseSize * 3;
  }

  .stat-label {
    position: absolute;
    padding: $baseSize;
  }
}
