**/static/**/*.css
**/static/**/*.map
/.env
/.nova
/af_gang_mail/static/bundle.js
/af_gang_mail/static/fontawesome
/cypress/fixtures
/cypress/plugins
/cypress/screenshots
/cypress/videos
/dump.json
/emailfiles
/node_modules
/staticfiles
