[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
isort = "*"
pylint = "*"
pylint-django = "*"
pyenchant = "*"
pytest = "*"
pytest-django = "*"
ipython = "*"
watchdog = "*"
pyyaml = "*"  # required by watchdog; https://github.com/gorakhargosh/watchdog/issues/664
argh = "*"    # required by watchdog; https://github.com/gorakhargosh/watchdog/issues/664
flower = "*"
model-bakery = "*"
pytest-repeat = "*"
pyfakefs = "*"
pytest-freezegun = "*"
curlylint = "*"

[packages]
django = {extras = ["argon2"], version = "*"}
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
whitenoise = "*"
django-enforce-host = "*"
django-csp = "*"
django-feature-policy = "*"
sentry-sdk = "*"
django-allauth = "*"
django-celery-email = "*"
django-anymail = "*"
django-crispy-forms = "*"
django-countries = "*"
django-tables2 = "*"
django-autoslug = "*"
factory-boy = "*"
python-dateutil = "*"
django-flatblocks = {editable = true, git = "https://github.com/jazzband/django-flatblocks", ref = "41a037959f05ad666ee9a1645db1907c81e4bd78"}  # https://github.com/jazzband/django-flatblocks/issues/28
django-ckeditor = "*"
django-tz-detect = "*"
tqdm = "*"
django-su = "*"
django-storages = "*"
boto3 = "*"
django-markdown2 = "*"
django-contact-form = "*"

[requires]
python_version = "3.8"
