{% extends 'base.html' %}

{% load crispy_forms_tags static %}

{% block body_classes %}select-exchanges{% endblock %}

{% block content %}

<form method="post">
  <h1>{{ flatblock.slug }}</h1>
  {% csrf_token %}
  {{ form|crispy }}
  <button>Save</button>
</form>

{% endblock %}


{% block script %}
  <script>window.CKEDITOR_BASEPATH = "/static/ckeditor/ckeditor/";</script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
