{% extends 'base.html' %}

{% block body_classes %}home authenticated{% endblock %}

{% block content %}
  <div>
    <form action="{% url 'update-name-and-address' %}">
      <h1>Your Name &amp; Address</h1>
      <div>{{ user.get_full_address|linebreaksbr }}</div>
      <button>Edit Name &amp; Address</button>
    </form>
    <form>
      <h1>Your Upcoming Exchanges</h1>
      <p>Coming soon.</p>
    </form>
    <form>
      <h1>Your Past Exchanges</h1>
      <p>Coming soon.</p>
    </form>
  </div>
{% endblock %}
