{% extends 'base.html' %}

{% load crispy_forms_tags flatblocks %}

{% block body_classes %}home unauthenticated{% endblock %}

{% block content %}
  <div id="intro" class="yellow-box">
    {% flatblock "home.unauthenticated.intro" %}
  </div>
  <section>
    <form method="post" action="{% url 'account_signup' %}"  data-cy="signup">
    <h1>Enter an email address and choose a password to get started</h1>
      {% csrf_token %}
      {{ register_form|crispy }}
      <button>Get Started</button>
    </form>
    <form method="post" action="{% url 'account_login' %}" data-cy="login">
      <h1>Log in</h1>
      {% csrf_token %}
      {{ login_form|crispy }}
      <button name="action" value="login">Log In</button>
      <a class="button secondary" href="{% url 'account_reset_password' %}">Forget your Password?</a>
    </form>
  </section>
{% endblock %}
