@use "../../colors" as *;
@use "../../size" as *;

$formWidthMin: 200px;
$formWidthMax: 350px;

.home.unauthenticated {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    #intro {
      max-width: $formWidthMax;
      margin: $baseSize;
      @media (min-width: $formWidthMin * 2 + $baseSize * 10 + 4) {
        max-width: $formWidthMax * 2 + $baseSize * 4;
      }
      @media (max-width: $formWidthMax + $baseSize * 6 + 2) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;

      @media (min-width: $formWidthMin * 2 + $baseSize * 10 + 4) {
        width: 100%;
      }

      form {
        flex-grow: 1;
        width: $formWidthMin;
        max-width: $formWidthMax;
        margin: $baseSize;
        @media (max-width: $formWidthMax + $baseSize * 6 + 2) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
