@use "components/footer";
@use "components/form";
@use "components/header";
@use "components/messages";
@use "components/top_nav";
@use "pages/home/authenticated";
@use "pages/home/unauthenticated";
@use "pages/update_name_and_address";
@use "fonts" as *;
@use "colors" as *;
@use "size" as *;

$opacity: 25%;

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: $sansSerif;
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba($white, $opacity),
      rgba($white, $opacity)
    ),
    url("/static/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  main {
    flex-grow: 1;
    padding: 1em;
  }
}
