@use "../colors" as *;
@use "../fonts" as *;
@use "../size" as *;

.flatblock {
  
}

.flatblock-edit {
  float: right;
  border: 1px dashed $black;
  color: $black;
  padding: $baseSize / 2 $baseSize;
}