@use "../colors" as *;
@use "../fonts" as *;
@use "../size" as *;

footer {
  background: $black;
  color: $white;
  width: 100%;
  padding: $baseSize;
  font-size: $baseSize * 0.8;
  box-sizing: border-box;
  box-shadow: $baseSize / 8 $baseSize / 8 $baseSize / 2 transparentize($black, 0.5);

  a {
    color: inherit;
  }
}
