@use "../colors" as *;
@use "../size" as *;

$formWidthMax: 600px;

form,
.yellow-box,
.white-box {
  max-width: $formWidthMax;
  margin: $baseSize auto;
  padding: $baseSize / 2 $baseSize;
  background: $yellow;
  border: 1px solid $black;
  box-shadow: $baseSize / 8 $baseSize / 8 $baseSize / 2
    transparentize($black, 0.5);
  h1 {
    font-size: inherit;
    text-align: center;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  label,
  button,
  select {
    width: 100%;
    font-size: $baseSize;
    display: block;
    padding: $baseSize / 4 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    border: 1px solid black;
    padding: $baseSize / 4;
    box-sizing: border-box;
  }
  button,
  .button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: $white;
    background: $black;
    padding: $baseSize / 2;
    border: 1px solid $black;
    margin: $baseSize 0 $baseSize / 2;
    &.secondary {
      color: $black;
      background: $yellow;
    }
  }
  .control-group {
    margin: $baseSize / 2 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
      padding: $baseSize / 4;
    }
    th {
      background-color: $darkYellow;
      text-align: left;
    }
  }
}

.white-box {
  background: $white;
}
