@use "../colors" as *;
@use "../size" as *;

form,
.yellow-box {
  padding: $baseSize / 2 $baseSize;
  background: $yellow;
  border: 1px solid $black;
  h1 {
    font-size: inherit;
    text-align: center;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  label,
  button,
  select {
    width: 100%;
    font-size: $baseSize;
    display: block;
    padding: $baseSize / 4 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    border: 1px solid black;
    padding: $baseSize / 4;
    box-sizing: border-box;
  }
  button {
    color: $white;
    background: $black;
    padding: $baseSize / 2;
    border-width: 0;
    margin: $baseSize 0 $baseSize / 2;
  }
  .control-group {
    margin: $baseSize / 2 0;
  }
}
