@use "../colors" as *;
@use "../size" as *;

// https://www.craiga.id.au/2008/10/27/luminance
@function luminance($color) {
  @return 0.3 * (red($color) / 255) + 0.59 * (green($color) / 255) + 0.11 *
    (blue($color) / 255);
}

#messages {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    border: 2px solid $black;
    padding: $baseSize;
    margin: $baseSize;
    box-shadow: $baseSize / 8 $baseSize / 8 $baseSize / 2
      transparentize($black, 0.5);

    @each $messageClass,
      $color
        in (
          "success": $green,
          "warning": $red,
          "error": $red,
          "info": $white,
          "debug": $blue
        )
    {
      &.#{$messageClass} {
        background-color: $color;
        @if (luminance($color) > 0.5) {
          color: $black;
        } @else {
          color: $white;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }
}
