@use "../colors" as *;
@use "../size" as *;

#messages {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  li {
    border: 2px solid $black;
    padding: $baseSize;
    margin: $baseSize 0;

    @each $messageClass,
      $color
        in (
          "success": $green,
          "warning": $red,
          "error": $red,
          "info": $white,
          "debug": $blue
        )
    {
      &.#{$messageClass} {
        border-color: $black;
        background-color: $color;
      }
    }
  }
}
