@use "../colors" as *;
@use "../fonts" as *;
@use "../size" as *;

$height: $baseSize * 3;
$background: $black;
$foreground: $white;

nav {
  display: flex;
  height: $height;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  background: $background;
  color: $foreground;
  font-size: $baseSize;
  line-height: 1;
  box-shadow: $baseSize / 8 $baseSize / 8 $baseSize / 2
    transparentize($black, 0.5);

  a {
    color: $white;
    background-color: $black;
    padding: ($height - $baseSize) / 2 $baseSize;
    display: block;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }

  section {
    text-align: right;
    position: relative;
    display: inline-block;
    h1 {
      padding: ($height - $baseSize) / 2 $baseSize;
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
      line-height: 0;
      img {
        height: $baseSize;
        filter: invert(1);
      }
    }
    ul {
      position: absolute;
      right: 0;
      display: none;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      background-color: $black;
      list-style: none;
      text-align: left;
      box-shadow: $baseSize / 8 $baseSize / 8 $baseSize / 2
        transparentize($black, 0.5);
    }
    &:hover {
      h1 {
        padding-left: $baseSize * 3;
      }
      ul {
        display: block;
      }
    }
  }
}
